@charset "utf-8";
/* 深圳市静江网络科技有限公司 */
*,*:before,*:after {-webkit-box-sizing:border-box; box-sizing:border-box;margin:0; padding:0;}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust: 100%;}
body{position:relative; font:14px/1 "Microsoft YaHei", Helvetica, sans-serif;color:#333;max-width:640px;margin:auto;}
input{border:none;}
input,select,option,textarea{outline: none;}
input[type="button"],button,select{cursor: pointer;border: none;outline: none;}
textarea{outline: none;}
ul,li,h1,h2,h3,h4,h5,h6{list-style-type:none;}
img{border:none;}
a{text-decoration:none; color:#666;}
a:hover{text-decoration:none;}
.clf{zoom:1}
.clf:before,.clf:after,.w:before,.w:after{content:"";display:block;height:0;clear:both;visibility:hidden;}
.fl{float: left;}
.fr{float: right;}
/* 初始化样式结束 */

.title{font-size:1.5rem;color:#000;text-align:center;padding:1rem 0;position:relative;background:#fff;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.title a{display:block;width:1.5rem;height:1.5rem;background:url(../images/icon_arrow_l.png)no-repeat center/cover;position:absolute;left:5%;}

.topbar{height: 3rem;font: .9rem/3rem 'Microsoft YaHei';background-color: #fff;position: relative;padding: 0 3.5%;margin-bottom: .5rem;}
.topbar h3{position: absolute;top: 0;right: 0;bottom: 0;left: 0;margin: auto;text-align: center;font-weight: normal;font-size: 1.2rem;z-index: 0;}
.topbar a.fl,
.topbar a.fr{color: #5dc132;position: relative;}


.fixedNav{position: fixed;right: 0;bottom: 0;left: 0;background-color: #fff;box-shadow: 0 0 3px 2px #d9d9d9; }

.fixedNav a{float: left;width: 33.33%;text-align: center;padding: 2.3rem 0 .3rem;font-size: .9rem;}
.fixedNav a.icon_1{background: url("../images/icon_voting.png") no-repeat center 15%/auto 1.5rem;}
.fixedNav a.icon_1.active{background: url("../images/icon_voting_active.png") no-repeat center 15%/auto 1.5rem;}
.fixedNav a.icon_2{background: url("../images/icon_lottery.png") no-repeat center 15%/auto 1.5rem;}
.fixedNav a.icon_2.active{background: url("../images/icon_lottery_active.png") no-repeat center 15%/auto 1.5rem;}
.fixedNav a.icon_3{background: url("../images/icon_myWorks.png") no-repeat center 15%/auto 1.5rem;}
.fixedNav a.icon_3.active{background: url("../images/icon_myWorks_active.png") no-repeat center 15%/auto 1.5rem;}

