
.topbar{background-color: #5dc132;color: #fff;}
.topbar a.fl img{vertical-align: middle;height: 1.5rem;}

.main1{width: 93%;margin: auto;padding: .5rem 0 2rem;font: 1rem/1.5 "Microsoft YaHei";}
#fairDetail .main1 img{display: block;width: 100%;margin: .8rem 0;}
#fairDetail .main1 p{text-indent: 2rem;}

.live{background-color: #f2f2f2;padding: 0 3.5%;}
.live .countDown{text-align: center;padding-top: 5.5rem;margin-bottom: 1rem;position: relative;}
.live .countDown span{display: inline-block;width: 1.5rem;height: 1.5rem;background:linear-gradient(#717171, #4a4a4a);color: #fff;vertical-align: middle;border-radius: 5px;border: 1px solid #4e4e4e;line-height: calc(1.5rem - 2px);margin: 0 .3rem;}
.live .countDown .absImg{position: absolute;bottom: .8rem;left: 50%;transform: translateX(-50%);width: 48%;}
.liveList{padding-bottom: 1rem;}
.liveList .item{float: left;width: 45%;margin: 0 2.5%;}
.liveList .item img{display: block;width: 100%;}







