
/*body{background-color: #5dc132;}*/

.topbar{background-color: #5dc132;color: #fff;}
.topbar a.fr{color: #fff;}

.main{width: 93%;margin: auto;padding-top: 3.5rem;position: relative;}
.main>img:first-of-type{display: block;width: 100%;}
.main>img.absImg{position: absolute;top: 1rem;width: 100%;}

.absChance{position: absolute;top: 6.2rem;right: 23%;font-size: 1rem;}
.absDiv{position: absolute;top: 9.5rem;width: 70%;margin: auto;right: 0;left: 0;}
.absDiv .tips{text-align: center;font-size: 1rem;line-height: 1.5;color: #fff;}
.absDiv .machine{margin-top: 1rem;}
.absDiv .machine li{float: left;width: 32.33%;height: 4.75rem;margin: .5%;border-radius: 7px;text-align: center;padding-top: .5rem;font-size: .9rem;}
.absDiv .machine li.icon_go{background: url("../images/img_go.png") no-repeat center/contain;}
.absDiv .machine li.icon_none{background-color: #fff;padding-top: 1.5rem;}
.absDiv .machine li.icon_0{background:#fff url("../images/img_lotteryResult_2.png") no-repeat center 75%/70%;}
.absDiv .machine li.icon_1{background:#fff url("../images/img_lotteryResult_1.png") no-repeat center 75%/70%;}
.absDiv .machine li.icon_2{background:#fff url("../images/img_lotteryResult_2.png") no-repeat center 85%/auto 60%;}
.absDiv .machine li.icon_3{background:#fff url("../images/img_lotteryResult_3.png") no-repeat center 85%/auto 60%;}
.absDiv .machine li.icon_4{background:#fff url("../images/img_lotteryResult_2.png") no-repeat center 85%/auto 60%;}
.absDiv .machine li.icon_5{background:#fff url("../images/img_lotteryResult_2.png") no-repeat 85%/auto 80%;padding-right: 1.2rem;}
.absDiv .machine li.icon_6{background:#fff url("../images/img_lotteryResult_3.png") no-repeat center 85%/auto 60%;}
.absDiv .machine li.icon_7{background:#fff url("../images/img_lotteryResult_2.png") no-repeat center 85%/auto 60%;}
.absDiv .machine li.active{background-color: #34c5fe;color: #fff;}

a.viewResults{display: block;width: 93%;margin:1rem auto;background-color: #fff;text-align: center;font: 1rem/2.5 'Microsoft YaHei';color: #68c540;}




/* 移动端样式 */
@media only screen and (max-width: 320px) {

    html{font-size: 14px;}

}

