/*body{background:#f2f2f2;}*/
.search{width:100%;height:auto;padding:.5rem 0;box-shadow:0 2px 10px #ccc;background:#fff; }
.search input{display:block;width:90%;font-size:1.1rem;background:#f2f2f2 url(../images/search.png)no-repeat 25% center/6%;margin:auto;border-radius:6px;padding:.8rem 0;text-align:center;}

.sort{width:100%;height:auto;background:#fff;border-top:1px solid #e5e5e5;padding:.5rem 0;}
.sort a{display:block;float:left;width:calc(100% / 3);height:1.5rem;text-align:center;font-size:1rem;line-height:1.5rem;}
.sort a:nth-child(2){border-left:1px solid #e6e6e6;border-right:1px solid #e6e6e6;}
.sort .current{color:#5dc132;}

.list{width:100%;height:auto;background:#fff;border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;margin-top:.5rem;}
.list ul li{float:left;width:50%;padding:.5rem 2% 1rem;}
.list ul li:nth-child(odd){border-right:1px solid #e6e6e6;}
.list ul li .img{width:80%;height:9rem; box-shadow:25px 0 6px -5px #ccc,50px 0 3px -15px #e0e0e0;}
.list ul li .img img{width:100%;height:100%;}

.list ul li .dv1{margin-top:.5rem;}
.list ul li .dv1 .sp1{font-size:1rem;color:#000;float:left;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;width: 100%;}
.list ul li .dv1 .sp2{font-size:1rem;color:#999;float:right;}
.list ul li .from{font-size:1rem;color:#4c4c4c;margin-top:.5rem;}
.list ul li .from span{color:#b2b2b2;}
.list ul li .hot{margin-top:1rem;}
.list ul li .hot .a1{display:inline-block;font-size:1.2rem;color:#ec1242;}
.list ul li .hot .a1:before{display:inline-block;content:'';width:1.2rem;height:1.2rem;background:url(../images/icon_zan_x.png)no-repeat left center/contain;vertical-align: middle;margin-right:.2rem;}
.list ul li .hot .a2{display:block;float:right;width:1.2rem;height:1.2rem;background:url(../images/icon_share.png)no-repeat center/contain;}

.banner{width:90%;height:5rem;bottom:4rem;left:50%;transform:translateX(-50%);max-width:640px; }
.banner img{width:100%;height:100%;}


.btns{width:100%;height:3.5rem;position:fixed;bottom:0;box-shadow:0 -2px 10px #ccc;background:#fff;max-width:640px;}
.btns a{display:block;width:calc(100% / 3);float:left;text-align:center;font-size:1rem;color:#999;}
.btns .a1:before{display:block;content:'';width:1.5rem;height:1.5rem;background:url(../images/icon_1.png)no-repeat center/contain;margin:.2rem auto .5rem;}
.btns .a2:before{display:block;content:'';width:1.5rem;height:1.5rem;background:url(../images/icon_2.png)no-repeat center/contain;margin:.2rem auto .5rem;}
.btns .a3:before{display:block;content:'';width:1.5rem;height:1.5rem;background:url(../images/icon_3.png)no-repeat center/contain;margin:.2rem auto .5rem;}

#tpym{background-color: #f2f2f2;height: 100%;}
