/* 设置提款信息 */
.setDrawMoney{margin: 0 0 2rem;border: 1px solid #ddd;box-shadow: 0 .3rem .5rem #d3d3d3;border-radius: 3px;}
.setDrawMoney>h1{font: bold .8rem/3 'Microsoft YaHei';padding: 0 2.5%;border-bottom: 1px solid #ddd;}
.setDrawMoney>.mainDiv{background-color: #fff;padding: 0 2.5% 1rem;}
.setDrawMoney>.mainDiv .tip{font: .7rem/3 'Microsoft YaHei';}
.setDrawMoney>.mainDiv table{width: 100%;border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;margin: 0 0 1.2rem;}
.setDrawMoney>.mainDiv table td{border-top: 1px solid #ddd;border-left: 1px solid #ddd;padding: .5rem;}
.setDrawMoney>.mainDiv table td:first-of-type{text-align: right;font-size: .7rem;width: 32%;padding: .5rem .2rem;}
.setDrawMoney>.mainDiv table td:first-of-type span{color: #f00;}
.setDrawMoney>.mainDiv table td input,
.setDrawMoney>.mainDiv table td select{height: 1.5rem;border: 1px solid #ddd;}
.setDrawMoney>.mainDiv table td input[title='security']{width: 4rem;float: left;}
.setDrawMoney>.mainDiv table td input[title='security']+img{height: 1.5rem;}
.setDrawMoney>.mainDiv table .intensity{float: left;border: 1px solid #ddd;border-right: none;}
.setDrawMoney>.mainDiv table .intensity span{float: left;width: 1.5rem;height: 1.5rem;border-right: 1px solid #ddd;text-align: center;line-height: calc(1.5rem - 2px);}
.setDrawMoney>.mainDiv button[type='submit']{width: 80%;height: 2.2rem;font: .9rem/1 'Microsoft YaHei';background-color: #5cb85c;color: #fff;border-radius: 5px;margin: auto;display: block;}

.receipts{padding-top: 0 !important;}
.receipts>h1{font: 1.5rem/2 'Microsoft YaHei';margin-top: 0;}









