.howToPlay{height: 6rem;overflow-y: scroll;background-color: #2ea2f4;color: #fff;padding: .5rem 0;}
.howToPlay p{font: .8rem/1.5 'Microsoft YaHei';text-align: center;}



















