body {position: relative;font: 14px/1 "Microsoft YaHei", Helvetica, sans-serif !important;color: #969696;background-color: #efefef !important; width:100%; max-width: 640px;margin: auto;}

html, body, #root{ position:relative;}


header{background-color: #2ea2f4;padding-top: .5rem;}
header>.user>img{width: 3rem;height: 3rem;border-radius: 50%;background-color: #fff;margin:auto;display: block;}
header>.user>div.fl{font: .8rem/1.2rem 'Microsoft YaHei';padding: .8rem 0;color: #fff;}
header>.wallet{padding: .8rem .5rem;color: #fff;font: .7rem/1.2rem 'Microsoft YaHei';position: relative;}
header>.wallet>div{width: 33.33%;text-align: center;}
header>.wallet p{font-size: .8rem;color: #fff/*#C5A968*/;}


footer{position: absolute !important;bottom: 0;left: 0;width: 100%; height: 2.5rem;}
footer a{float: left;width: calc(50% - .5px);height: 100%;font: .9rem/2.5rem 'Microsoft YaHei';background-color: #2ea2f4;text-align: center;color: #fff;}
footer a:last-child{float: right;}
footer a:hover{}
